@import url('https://fonts.googleapis.com/css?family=Dosis|Indie+Flower|Nunito');

/* 

font-family: 'Nunito', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive; */


.categories{
    font-family: 'Indie Flower', cursive;
}

.title {
    font-family: 'Dosis', sans-serif;
    size: 30px;
    text-align: center;
}

.main_page{
    text-align: center;
    border-radius: 2%;
    padding: 1%;
}


.register_main{
    text-align: center;
    border-radius: 2%;
    padding: 1%;
    font-family: 'Dosis', sans-serif;
}

.header_font{
    font-family: 'Dosis', sans-serif;
}

.bordered{
    border: 2px solid blue;
}