{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
    <div class = "container">
        <div class="row">
            <h1 class="title">PITCH-IT</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"> 
                    <a href="{{url_for('main.interview')}}" class="categories">
                        <br>
                        <h2>Inteview Pitches</h2>
                    </a>
                    <br>
                    <a href="{{url_for('main.pick_up_line')}}" style="font-family: 'Joti One', cursive; font-size:20px;">
                        <br>
                        Pick Up Lines
                    </a>
                    <br>
                    <a href="{{url_for('main.promotion')}}" style="font-family: 'Joti One', cursive; font-size:20px;">
                        <br>
                        Promotion Pitches
                    </a>
                    <br>
                    <a href="{{url_for('main.product')}}" style="font-family: 'Joti One', cursive; font-size:20px;">
                        <br>
                        Product Pitches
                    </a>
                    <br>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <div class="panel">
                <p style="font-family: 'Bellefair', serif; font-size:20px;">Write your one minute in any of the categories to the left and let other user vote and comment on it.Please also feel free to comment and vote on pitches posted by other people </p>
                
                <div style="text-align:center;">
                    <a href="{{url_for('main.new_pitch')}}">
                        <br>
                        <div class="container">
                            <a href="{{url_for('main.index')}}">
                                    <button type="button" class="btn btn-primary btn-sm" style="margin-bottom:10px;">
                                            <span class="glyphicon glyphicon-chevron-left" ></span> Back
                                    </button>
                            </a>
                            {{wtf.quick_form(new_pitch_form)}}
                        </div>
                    </a>

                </div>
            
            </div>
            
        </div>
    </hr>
        <div class="all-pitches">
            <span style="color:gainsboro;">All pitches are displayed below</span>
                <hr> 
                {{macro.displayPitches(pitches)}}
            

        </div>

    </div>


{% endblock %}